[*.sh]
indent_style = space
indent_size = 4

shell_variant      = bash
binary_next_line   = true  # like -bn
switch_case_indent = true  # like -ci
space_redirects    = true  # like -sr
keep_padding       = true  # like -kp
function_next_line = false
