---
name: dependabot validate

"on":
  pull_request:
    paths:
      - ".github/dependabot.yml"
      - ".github/workflows/dependabot_validate.yml"
jobs:
  validate:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
      - uses: actions/checkout@v4
      - uses: marocchino/validate-dependabot@v3
        id: validate
      - uses: marocchino/sticky-pull-request-comment@v2
        if: always()
        with:
          header: validate-dependabot
          message: ${{ steps.validate.outputs.markdown }}
          ignore_empty: true
          skip_unchanged: true
