---
# yamllint disable rule:line-length
name: "Test Suite"

"on":
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  pytest:
    name: Pytest
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: prepare environment
        run: |
          export DEBIAN_FRONTEND=noninteractive
          sudo apt-get update -qq --yes
          sudo apt-get install python3-pip --yes
          sudo sh helper/install_deps.sh
          # install via sudo to run pytest as root - see below
          sudo pip install -r ./tests/requirements.txt
          sudo systemctl disable --now privoxy || true

      - name: run pytest
        env:
          ACTIONS_STEP_DEBUG: ${{ vars.ACTIONS_STEP_DEBUG }}
          RUNNER_DEBUG: ${{ runner.debug }}
        run: |
          sudo pkill -9 privoxy || true
          # run pytest as sudo to allow pytestshellutils to stop privoxy
          sudo pytest -v -s --color yes tests/
